<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myadminmain.workflow.process.dao.ActProcessMapper">

    <insert id="addBusiness">
        INSERT INTO sys_act_business (menu_id, procdef_id)
        VALUES
            (#{businessId}, #{procId})
    </insert>
    <insert id="addBusinessBatch">
        INSERT INTO sys_act_business (menu_id, procdef_id)
        VALUES
        <foreach collection="actProcess.businessIds" item="businessId" index="index" separator=",">
            (#{businessId}, #{actProcess.procId})
        </foreach>
    </insert>


    <delete id="deleteBusiness" parameterType="java.util.Map">
        DELETE FROM sys_act_business
        <where>
            <if test='procId!=null and procId!=""'>
                and procdef_id = #{procId}
            </if>
            <if test='businessId!=null and businessId!=""'>
                and menu_id = #{businessId}
            </if>
        </where>
    </delete>
    <delete id="deleteBusinessById">
        DELETE FROM sys_act_business
        WHERE id IN (
        <foreach collection="businessList" item="obj" index="index" separator="," >
            #{obj.id}
        </foreach>
        )
    </delete>


    <select id="queryProcessBusinessInfo" resultType="java.util.Map">
        SELECT
            sab.procdef_id AS procId,
            sab.menu_id    AS businessId,
            sm.menu_name   AS businessName
        FROM sys_act_business sab
            INNER JOIN sys_menu sm ON sab.menu_id = sm.menu_id
    </select>

    <select id="queryBusiness" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            sab.id,
            sab.procdef_id AS procId,
            sab.menu_id    AS businessId
        FROM sys_act_business sab
        <where>
            <if test='procId!=null and procId!=""'>
                and sab.procdef_id = #{procId}
            </if>
            <if test='businessId!=null and businessId!=""'>
                and sab.menu_id = #{businessId}
            </if>
        </where>
    </select>
    <select id="getBusinessRelation" resultType="java.lang.String">
        SELECT business.procdef_id FROM sys_act_business business
            INNER JOIN sys_menu menu ON business.menu_id = menu.menu_id
        WHERE menu.menu_code = #{menuCode}
    </select>
</mapper>
