<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myadminmain.sys.addr.street.dao.AddrStreetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myadminmain.sys.addr.street.entity.AddrStreet">
        <id column="STREET_ID" property="streetId"/>
        <result column="STREET_CODE" property="streetCode"/>
        <result column="STREET_NAME" property="streetName"/>
        <result column="AREA_CODE" property="areaCode"/>
        <result column="SHORT_NAME" property="shortName"/>
        <result column="LNG" property="lng"/>
        <result column="LAT" property="lat"/>
        <result column="SORT" property="sort"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="MEMO" property="memo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        A.STREET_ID,
        A.STREET_CODE,
        A.STREET_NAME,
        A.AREA_CODE,
        A.SHORT_NAME,
        A.LNG,
        A.LAT,
        A.SORT,
        A.CREATE_TIME,
        A.UPDATE_TIME,
        A.MEMO
    </sql>

    <!-- 表名称 -->
    <sql id="tableName">
        sys_addr_street A
    </sql>
</mapper>
